{% extends 'base.html' %}
{% block main %}

    <header>
        <h1>Інтернет Магазин</h1>
    </header>

    <div class="container">
        <div class="hero">
            <h2>Вітаємо на нашому сайті!</h2>
            <a href="/products" class="btn">Переглянути товари</a>
        </div>

        <div class="about-section">
            <h2>Про нас</h2>
            <p>Привіт! Це мій перший інтернет магазин, де ви можете знайти різноманітні товари, від електроніки до одягу.</p>

            <h3>Товари, які ми пропонуємо:</h3>
            <ul>
                <li>Електроніка</li>
                <li>Одяг</li>
                <li>Побутова техніка</li>
            </ul>

            <div class="contact-info">
                <h3>Щоб з нами зв'язатися, використовуйте електронну пошту:</h3>
                <p><a href="mailto:jocker23042002@gmail.com">jocker23042002@gmail.com</a></p>
            </div>
        </div>
    </div>


</body>
</html>
{% endblock main %}