<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Магазин - Головна</title>
    <link rel="stylesheet" href="styles.css"> <!-- Підключення CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Мій Магазин</h1>
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/products">Товари</a></li>
                    <li><a href="/about_us">Про нас</a></li>
                    <li><a href="/contact">Контакти</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block main %}
    {% endblock main %}


</body>
</html>
