{% extends 'base.html' %}

{% block main %}

    <header>
        <h1>Контакти</h1>
    </header>

    <div class="container">
        <!-- Контактна інформація -->
        <div class="contact-info">
            <h2>Ми завжди раді допомогти вам!</h2>
            <p>Якщо у вас виникли питання або ви хочете отримати додаткову інформацію, будь ласка, зв'яжіться з нами за допомогою форми або електронної пошти:</p>
            <p><strong>Email:</strong> jocker23042002@gmail.com</a></p>
            <p><strong>Телефон:</strong> +380123456789</p>
            <p><strong>Адреса:</strong> Київ, вул. Головна, 12</p>
        </div>
    </div>
{% endblock main %}