{% extends 'base.html' %}
{% block main %}
<main>
        <section class="hero">
            <div class="container">
                <h2>Ласкаво просимо до нашого магазину!</h2>
                <p>Знайдіть усе, що вам потрібно, у нашому широкому асортименті товарів.</p>
                <a href="/products" class="btn">Переглянути товари</a>
            </div>
        </section>

        <section class="categories">
            <div class="container">
                <h3>Категорії товарів</h3>
                <div class="category-list">
                    <div class="category-item">
                        <h4>Електроніка</h4>
                        <p>Смартфони, ноутбуки, аксесуари.</p>
                    </div>
                    <div class="category-item">
                        <h4>Одяг</h4>
                        <p>Модний одяг для всіх сезонів.</p>
                    </div>
                    <div class="category-item">
                        <h4>Побутова техніка</h4>
                        <p>Техніка для дому та кухні.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="popular-products">
            <div class="container">
                <h3>Популярні товари</h3>
                <div class="product-list">
                    <div class="product-item">
                        <h4>Iphone 15</h4>
                        <p>Ціна: 40 999 грн</p>
                    </div>
                    <div class="product-item">
                        <h4>Lenovo Legion Y 540</h4>
                        <p>Ціна: 29 999 грн</p>
                    </div>
                    <div class="product-item">
                        <h4>Пилосос PHILIPS</h4>
                        <p>Ціна: 5 499 грн</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}

